<h1>ALL THE CATS</h1>
<ul>
  <% @cats.each do |cat| %>
  <li><%= cat.name %> <button onClick="window.location.href='/cats/<%= cat.id %>'">Show</button> <button onClick="window.location.href='/cats/<%= cat.id %>/edit'">Edit</button>
    <form action="/cats/<%= cat.id %>/delete" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Delete</button>
    </form>
  </li>
  <% end %>
</ul>
<a href="/cats/new">New cat!</a>
