<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../public/styles.css">
</head>

<body>
  <div class="main">
    <% action = (@cat.id ? "/cats/#{@cat.id}" : "/cats") %>
      <% method = (@cat.id ? "PUT" : "POST")%>

        <form action="<%= action %>" method="POST">
          <input type="hidden" name="_method" value="<%= method %>">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <label>Name
            <input type="text" name="cat[name]" value="<%= @cat.name %>">
          </label>

          <label>Owner
            <select name="cat[owner]">
              <% Human.all.each do |h| %>
                <% selected = h.id == @cat.owner_id %>
                  <option <%= selected ? "selected" : "" %>
                    value="
                    <%= h.id %>">
                      <%= h.fname %>
                  </option>
                  <% end %>
            </select>
          </label>

          <input type="submit">
        </form>
  </div>
</body>

</html>
